# Environment variables for the project

# App (Golang 1.26.2)

# Database (PostgreSQL 18)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_SSLMODE=
POSTGRES_TIMEZONE=

# Connection string (used by migrate and pgx)
DATABASE_URL=

# Redis (Redis 7)
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

